#logos .head-languages {
    position:absolute;
    right:100px;
    top:0;
    padding:0 10px;
    height:25px;
    line-height:25px;
    font-size:13px;
    background:#8E8E95 url(bg_head_languages.png) repeat-x 0 0;
    box-shadow: 0px 15px 17px -2px #454951;
}
#logos .head-languages span {
    margin:0 40px 0 0;
    color:#FFF;
    font-weight:bold;
}
#logos .head-languages a {
    color:#CBC9CD;
    font-weight:bold;
    text-decoration:none;
}
#logos .head-languages a+a {
    margin:0 0 0 20px;
}
#logos .head-languages a:hover {
    text-decoration:underline;
}
#logos .head-languages a.active {
    color: #FFF;   
}
#accept{
  
    background-color: #f2b019;
    border: 1px solid #ac7b1d; /* Green */
    border-radius: 5px;
    color: #fffff8;
    padding: 12px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
#accept:hover{
  
    background-color: #f5cd7a; /* Green */
    
    color: #cf8614;
    border: 1px solid #ac7b1d; 
    padding: 12px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}