
<!DOCTYPE html>
<html>
<head>
    <title>test page</title>
    <link rel="stylesheet" type="text/css" href="../static/select2.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../static/js/select2.min.js"></script>
</head>
<body>
<form action="">
<select name="test" id="test">
    <option value=""></option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        $('#test').select2({});
    });
</script>
</body>
</html>